body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: darkblue;
  }
  
  .login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
  }
  
  h1 {
    margin-top: -25px;
    color: white;
  }
  
  form {
    display: flex;
    flex-direction: column;
    width: 300px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  label {
    margin-bottom: 5px;
    color: white;
  }
 
  
  input[type="text"],
  input[type="password"] {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  .remember-me {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .remember-me input {
    margin-right: 5px;
  }
  
  a {
    color: #007bff;
    text-decoration: none;
    margin-bottom: 10px;
  }
  
  button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  #error-message {
    color: red;
    font-weight: bold;
    margin-top: 10px;
  }
  